* {
    font-family: 'Merriweather Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    /*overflow-x: hidden;*/
}

/*section one "hero"*/
#hero{
	background-image: url(../img/taxi.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-weight: 800;
	background-position: center bottom;
}

.navbar-default{
	z-index: 1;
	padding-top: 10px;
	padding-bottom: 25px;
	border-color: transparent;
}

.navbar-header{
	padding-left: 5em;
}

.navbar-toggle{
	float: left;
}

button.navbar-toggle{
	border: none;
}

.navbar-default .navbar-nav>li>a {
	color: black;
}

.caja-become{
	float: right;
	background-color: #f7b617;
	width: 463px;
	height: 350px;
	padding: 40px 30px;
	position: absolute;
	top: 200px;
	right: 0;
	color: white;
}

#header div.row{
	padding-left: 20px;
}

.disfruta{
	font-weight: bold;
	margin-bottom: 0px;
}

.dueño{
	font-weight: bold;
	margin-top: 0px;
	padding-bottom: 20px;
}

.conductor{
	width: inherit;
	height: 3vh;
}

.viaja{
	font-weight: bold;
}

button#btn-conductor.btn-submit{
	background-color: whitesmoke;
	border-color: transparent;
  	border-radius: 12px;
	height: 4vh;
	width: 60%;
	color: black;
	border-radius: 2px;
}

.caja-become .form-group input{
	padding: 5px;
	margin: 10px;
	font-size: 12px;
	border: none;
	border-bottom: 1px solid whitesmoke;
	outline: 0;
	background-color: transparent;
}	

/*sección información*/
#info{
	background-color: #f7b617;
	height: 80vh;
	padding-top: 60px;
	color: whitesmoke;
	font-size: 16px;
	/*left: 0px;*/
}

#info h3{
	font-weight: bold;
}

div.row.white-border{
	border: 1px solid white;
	border-left: none;
	float: left;
}

/*sección conduce*/
#conduce{
	background-image: url(../img/conduce.jpg);
	width: 100%;
	height: 65vh;
	padding-top: 0px;
	color: whitesmoke;
	font-size: 16px;
	left: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	font-weight: 800;
	background-position: center;
}

/*sección tarifas*/
#tarifas{
	background-color: #f7b617; 
	height: 600px;
	padding-top: 60px;
	color: whitesmoke;
}

#origen, #destino {
	background-color: #f7b617;
	border-radius: 1px white;

}

.ruta2{
	padding-top: 20px;
}

#map{
	width: 460px;
	height: 420px;
	border: 2px solid white;
}

.mapa{
	width: 480px;
    height: 440px;
    padding: 10px;
    border: 1px solid white;
}

/*footer*/
 .iconos-bottom{
 	padding-bottom: 0;
 } 

