* {
	font-family: 'Merriweather Sans', sans-serif;
	padding: 0;
	margin: 0;
}

body {
	/*overflow-x: hidden;*/
}

/*section one "hero"*/
#hero{
	background-image: url(../img/taxi.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-weight: 800;
	background-position: center bottom;
	background-attachment: fixed; /*hace q la foto se quede fija en el fondo y lo de adelante se mueva*/
}

.navbar-default{
	z-index: 1;
	padding-top: 10px;
	padding-bottom: 25px;
	border-color: transparent;
}

.navbar-header{
	padding-left: 5em;
}

.navbar-toggle{
	float: left;
}

button.navbar-toggle{
	border: none;
}

.navbar-default .navbar-nav>li>a {
	color: black;
}

.caja-become{
	float: right;
	background-color: #f7b617;
	width: 463px;
	height: 350px;
	padding: 40px 30px;
	position: absolute;
	top: 200px;
	right: 0;
	color: white;
}

#header div.row{
	padding-left: 20px;
}



/*parte 2 sección 1*/
.disfruta{
	font-weight: bold;
	margin-bottom: 0px;
}

.dueño{
	font-weight: bold;
	margin-top: 0px;
	padding-bottom: 20px;
}

.conductor{
	width: inherit;
	height: 3vh;
}

.viaja{
	font-weight: bold;
}

button#btn-conductor.btn-submit{
	background-color: whitesmoke;
	border-color: transparent;
	border-radius: 12px;
	height: 4vh;
	width: 60%;
	color: black;
	border-radius: 2px;
}

.caja-become .form-group input{
	padding: 5px;
	margin: 10px;
	font-size: 12px;
	border: none;
	border-bottom: 1px solid whitesmoke;
	outline: 0;
	background-color: transparent;
}	
.show-up{
	position: relative;
	background-color: #f7b617;
	padding: 50px;
	color: white;
	position: absolute;
	z-index: 1;
	float: right;
	right: -30px;
	height: 300px;
	width: 413px;
	padding-top: 60px
	bottom: 100px;
	top: 100px;
}

.comienza{
	margin-top: -4px;
	font-size: 40px;
	margin-bottom: 8px;
}

.move-btn{
	padding-top: 30px;
	color: black;
}

.btn-driver{
	width: 30vh;
	font-size: 20px;
}

/*sección información/descarga*/
#info{
	background-color: #f7b617;
	height: 80vh;
	padding-top: 60px;
	padding-bottom: 50px;
	color: whitesmoke;
	font-size: 16px;
	/*left: 0px;*/
}

.disappear {
	padding-top: 0px;
}

div.container-fluid.white-border {
	border: 1px solid whitesmoke;
	padding: 10px;
	border-left: none;
	float: left;
	margin-left: -15px;
}

#info h3{
	font-weight: bold;
	width: auto;
}

.text-left{
	padding-top: 50px;
}


/*sección conduce*/
#conduce{
	background-image: url(../img/conduce.jpg);
	width: 100%;
	height: 65vh;
	padding-top: 0px;
	color: whitesmoke;
	font-size: 16px;
	left: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	font-weight: 800;
	background-position: center;
}

.right-box{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	color: white;
	height: 65vh;
	padding: 50px 40px;
	z-index: 1;
	right: 0;
	float: right;
}

.right-box h3{

}

.conduce {
	margin-top: 100px;
	margin-bottom: 10px;
	height: 20%;
	font-weight: bolder;
}

.btn-drive{
	background-color: #f7b617;
	margin-bottom: 430px;
	border: #f7b617;
	padding: 11px;
	padding-left: 27px;
	padding-right: 27px;
	font-size: 17px;
	color: white;
}

/*sección tarifas*/
#tarifas{
	background-color: #f7b617; 
	height: 600px;
	padding-top: 60px;
	color: whitesmoke;
}

#origen, #destino {
	background-color: #f7b617;
	border-radius: 1px white;
}

.ruta2{
	padding-top: 20px;
}

#map{
	width: 460px;
	height: 420px;
	border: 2px solid white;
}

.mapa{
	width: 480px;
	height: 440px;
	padding: 10px;
	border: 1px solid white;
}

#tarifa{
	width: 300px;
	height: 50px;
	color: white;
	background-color: transparent;
	padding: 0px;
	border-color: #fff;
	margin-left: 15px;
	margin-top: 300px;
}

/*footer*/
#footer{
	background-color: #2b2b2b;
	padding-top:50px;
	padding-bottom: 20px;
	text-decoration: none; 
	height: 570px;
}

.logo-white-footer{
	margin-top: 50px;
	margin-bottom: 50px;
	
}

.links-footer {
	margin-bottom: 10px;
	list-style: none;
	text-decoration: none;
	color: white;
	padding-bottom: 10px;
}

li a.links-footer{    /*no me resulta sacar las viñetas de la lista, no sé como llamarlo*/
	list-style: none;
	text-decoration: none;
	padding-top: 10px;
}

.iconos-bottom{
	padding-bottom: 0;
	cursor: pointer;
	color: whitesmoke;
} 

.apps{
	margin-top: 50px;	
	flex-direction: bottom;
}

.img-footer{
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.subfooter{
	color: white;
	height: 60px;
	/*background-color: #2b2b2b;*/
}